.dataTables_wrapper .dataTables_filter {
    display: none;
}

#tabela-relatorio-vendas ul {
    padding-left: 1rem;
    margin-bottom: 0;
}

#tabela-relatorio-vendas tfoot th {
    font-size: 1.2rem;
}